<a href= '/auth/:provider/callback'> Login </a>

<ul>
  <% @questions.each do |question| %>
  <h3><%= link_to(question.title, question_path(question)) %></h3>
  <li><%= question.question %></li>
  <% end %>
</ul>
